name: Workflow

on:
  # Run on pushes to main..
  push:
    branches:
      - main
  # ..and any pull request.
  pull_request:

# Cancel any in progress run of the workflow for a given PR
# This avoids building outdated code
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          check-latest: true
      - run: yarn
      - run: yarn typecheck
      - run: yarn format:check
      - run: yarn lint
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          check-latest: true
      - run: yarn
      - run: yarn test:ci
      - run: yarn update:mixpanel
  update-testnet:
    name: Update Testnet (celo-mobile-alfajores) RTDB
    if: github.ref == 'refs/heads/main'
    needs:
      - lint
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v1
        with:
          project_id: celo-mobile-alfajores
          credentials_json: ${{ secrets.ALFAJORES_SERVICE_ACCOUNT_KEY }}
      - uses: google-github-actions/setup-gcloud@v1
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          check-latest: true
      - run: yarn
      - run: yarn update:rtdb --project=testnet --database-url=https://celo-mobile-alfajores.firebaseio.com/
  update-mainnet:
    name: Update Mainnet RTDB
    if: github.ref == 'refs/heads/main'
    needs:
      - update-testnet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v1
        with:
          project_id: celo-mobile-alfajores
          credentials_json: ${{ secrets.MAINNET_SERVICE_ACCOUNT_KEY }}
      - uses: google-github-actions/setup-gcloud@v1
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          check-latest: true
      - run: yarn
      - run: yarn update:rtdb --project=mainnet --database-url=https://celo-mobile-mainnet.firebaseio.com/
  update-mainnet-bq:
    name: Update Mainnet BQ
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v1
        with:
          project_id: celo-mobile-mainnet
          credentials_json: ${{ secrets.MAINNET_SERVICE_ACCOUNT_KEY }}
      - uses: google-github-actions/setup-gcloud@v1
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          check-latest: true
      - run: yarn
      - run: yarn update:bq
  deploy-dev:
    name: Deploy dev cloud function
    if: github.ref == 'refs/heads/main'
    needs:
      - lint
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v1
        with:
          project_id: celo-mobile-alfajores
          credentials_json: ${{ secrets.ALFAJORES_SERVICE_ACCOUNT_KEY }}
      - uses: google-github-actions/setup-gcloud@v1
        with:
          install_components: 'beta'
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          check-latest: true
      - uses: actions/cache@v3
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - run: yarn
      - run: yarn build
      - run: yarn deploy:dev getTokensInfo
  deploy-prod:
    name: Deploy prod cloud function
    if: github.ref == 'refs/heads/main'
    needs:
      - lint
      - test
      - deploy-dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v1
        with:
          project_id: celo-mobile-mainnet
          credentials_json: ${{ secrets.MAINNET_SERVICE_ACCOUNT_KEY }}
      - uses: google-github-actions/setup-gcloud@v1
        with:
          install_components: 'beta'
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          check-latest: true
      - uses: actions/cache@v3
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - run: yarn
      - run: yarn build
      - run: yarn deploy:prod getTokensInfo
